.playercard{
    border-radius: 50px;
}

.loskrest{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999999;
}

.countBox{
    align-self: center;
    width: 100;
}

.changeCountBox{ 
    align-self: center;
    color: #808080;
}