.NoteTable{
    border: 7px solid #ec6718ff;
    border-radius: 20px;
    background-color: #f29300ff;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
}

.notewrapper{
    position: relative;
    display: inline-block;
    background-image: url("./line.svg");
    background-repeat: repeat-x; /*background-color: green;*/
    
    width: calc(100% - 510px);
    background-position: bottom;
    padding-bottom: 15px;
}

.note1{
    width: 50px;
    height: 100px;
    padding-left: 85px;
}

.note2{
    width: 50px;
    height: 100px;
    padding-bottom: 20px;
    padding-left: 85px;

}

.block{
    padding-bottom: 20px;
}
